// title card
.col-lg-12.mx-auto.title_card
    .card.text-center.border.border-dark.text-white
        img.card-img.main_img(src='/images/main-home.jpg', alt='Card image')
        .card-img-overlay
            h1.card-title.mt-5 JI방
            h2.card-text.text-dark.mt-4 명지대 인근 방 어디?? 지방~~!!!!!
