extends ../layout

block content
    h1.text-center 사용자 설명서
    .row.col-lg-12.col-md-12.mx-auto
        .card.col.col-lg-8.col-md-10.col-sm-12.mx-auto.m-2
            img.card-img-top(src='images/together.png' alt='together')
            .card-body
                ul
                    li 해당 페이지는 모든 게시물들을 한번에 보여줍니다.
                    li 1번에 위치하는 버튼들은 사용자가 보기편하게 정렬시켜줍니다.
                    li 2번은 게시물들을 사진없이 간단한 정보만 보여줍니다.