extends ../layout

block content
    h1.text-center 사용자 설명서
    .row.col-lg-12.col-md-12.mx-auto
        .card.col.col-lg-8.col-md-10.col-sm-12.mx-auto.m-2
            img.card-img-top(src='images/mypage.png' alt='mypage')
            .card-body
                ul
                    li 나의 게시물들을 관리 할 수 있는 마이페이지 입니다.
                    li 1번 위치 이하로 자신이 올린 게시물들이 나타납니다. 지도에는 자신이 올린 방의 위치가 나타납니다.
                    li 2번 위치의 파란색 edit 버튼을 누르면 게시물을 수정하며 빨간색 delete 버튼을 누르면 삭제합니다.