extends ../layout

block content
    h1.text-center 사용자 설명서
    .row.col-lg-12.col-md-12.mx-auto
        .card.col.col-lg-8.col-md-10.col-sm-12.mx-auto.m-2
            img.card-img-top(src='images/login.png' alt='login')
            .card-body
                ul
                    li 로그인 페이지입니다. 화면 중앙 login with facebook을 클릭하면 페이스북 연동을 통한 로그인이 가능합니다.