extends ../layout

block content
    h1.text-center 사용자 설명서
    .row.col-lg-12.col-md-12.mx-auto
        .card.col.col-lg-8.col-md-10.col-sm-12.mx-auto.m-2
            img.card-img-top(src='images/list.png' alt='articles')
            .card-body
                ul
                    li 메인 홈페이지에서 각 마을이름의 버튼을 클릭하여 해당 지역의 게시물들을 볼 수 있는 게시판입니다.
                    li 1번 위치의 시간순, 이름순, 거리순 버튼을 클릭하여 정렬 순서를 변경 할 수 있습니다.
                    li 2번 위치에는 현재 올라와 있는 게시물들이 나타납니다. 게시물을 클릭하면 게시물 상세정보 페이지로 이동합니다.