extends ../layout

block content
    h1.text-center 사용자 설명서
    .row.col-lg-12.col-md-12.mx-auto
        .card.col.col-lg-8.col-md-10.col-sm-12.mx-auto.m-2
            img.card-img-top(src='images/new.png' alt='upload')
            .card-body
                ul
                    li 로그인 이후 상단 네비게이션 바 에서 방올리기 버튼을 클릭하여 글 작성 페이지로 이동 한 모습입니다.
                    li 방에 관한 세부정보를 저희 JI방에서 제공하는 입력양식에 맞춰 글을 작성할 수 있습니다.