extends ../layout

block content

    //user manual
    h1.text-center 사용자 설명서
    .row.col-lg-12.col-md-12.mx-auto
        .card.col.col-lg-8.col-md-10.col-sm-12.mx-auto.m-2
            img.card-img-top(src='images/index.png' alt='home')
            .card-body
                ul
                    li 기본적인 메인 홈페이지 화면입니다.
                    li 1번 위치의 집모양 또는 JI방을 클릭하면 사이트 어디에서든 메인 홈페이지로 돌아올 수 있습니다.
                    li 2번 위치의 login을 클릭하면 로그인 페이지로 이동합니다.
                    li 3번 위치는 지도이며 각 마을의 대략적인 위치를 나타내줍니다.
                    li 4번 위치는 각 마을 별 등록된 방을 확인할 수 있는 게시판으로 이동합니다.
        |
    .row.col-lg-12.col-md-12.mx-auto
        .card.col.col-lg-8.col-md-10.col-sm-12.mx-auto.m-2
            img.card-img-top(src='images/login.png' alt='login')
            .card-body
                ul
                    li 로그인 페이지입니다. 화면 중앙 login with facebook을 클릭하면 페이스북 연동을 통한 로그인이 가능합니다.
        |
    .row.col-lg-12.col-md-12.mx-auto
        .card.col.col-lg-8.col-md-10.col-sm-12.mx-auto.m-2
            img.card-img-top(src='images/index_login.png' alt='home_login')
            .card-body
                ul
                    li 로그인 이후의 메인 홈페이지 화면입니다. 로그인 전과 기능은 동일하나 로그인 후 추가 된 버튼이 있습니다.
                    li 1번 위치의 ID 버튼을 클릭하면 내가 업로드한 게시물을 확인하고 수정할 수 있는 마이페이로 이동합니다.
                    li 2번 위치의 방올리기 버튼을 클릭하면 저희 JI방이 제공하는 입력양식 폼에 따라 게시물을 작성 할 수 있습니다.
                    li 3번 위치의 로그아웃 버튼을 클릭하면 로그아웃 할 수 있습니다.
        |
    .row.col-lg-12.col-md-12.mx-auto
        .card.col.col-lg-8.col-md-10.col-sm-12.mx-auto.m-2
            img.card-img-top(src='images/mypage.png' alt='mypage')
            .card-body
                ul
                    li 나의 게시물들을 관리 할 수 있는 마이페이지 입니다.
                    li 1번 위치 이하로 자신이 올린 게시물들이 나타납니다. 지도에는 자신이 올린 방의 위치가 나타납니다.
                    li 2번 위치의 파란색 edit 버튼을 누르면 게시물을 수정하며 빨간색 delete 버튼을 누르면 삭제합니다.
        |
    .row.col-lg-12.col-md-12.mx-auto
        .card.col.col-lg-8.col-md-10.col-sm-12.mx-auto.m-2
            img.card-img-top(src='images/new.png' alt='upload')
            .card-body
                ul
                    li 로그인 이후 상단 네비게이션 바 에서 방올리기 버튼을 클릭하여 글 작성 페이지로 이동 한 모습입니다.
                    li 방에 관한 세부정보를 저희 JI방에서 제공하는 입력양식에 맞춰 글을 작성할 수 있습니다.
        |
    .row.col-lg-12.col-md-12.mx-auto
        .card.col.col-lg-8.col-md-10.col-sm-12.mx-auto.m-2
            img.card-img-top(src='images/list.png' alt='articles')
            .card-body
                ul
                    li 메인 홈페이지에서 각 마을이름의 버튼을 클릭하여 해당 지역의 게시물들을 볼 수 있는 게시판입니다.
                    li 1번 위치의 시간순, 이름순, 거리순 버튼을 클릭하여 정렬 순서를 변경 할 수 있습니다.
                    li 2번 위치에는 현재 올라와 있는 게시물들이 나타납니다. 게시물을 클릭하면 게시물 상세정보 페이지로 이동합니다.
        |
    .row.col-lg-12.col-md-12.mx-auto
        .card.col.col-lg-8.col-md-10.col-sm-12.mx-auto.m-2
            img.card-img-top(src='images/show.png' alt='articles_detail')
            .card-body
                ul
                    li 해당 게시물의 상세정보를 열람할 수 있는 페이지입니다.
                    li 1번 위치 이하로 저희 JI방이 제공하는 입력 양식에 따라 작성 된 게시물의 상세정보를 열람할 수 있습니다.
                    li 2번 위치는 후기글을 작성하거나 작성 된 후기글들이 위치하는 공간입니다.